// /*------------------------------------*\
//    COLORS
// \*------------------------------------*/
// Neutrals
$color-white             : #fff;
$color-black-lightest	 : #333;
$color-black-lighter	 : #45453F; 
$color-black             : #111;
$color-black-dark		 : #1f2126;
$color-grey-lightest     : #eeeeee;
$color-grey-lighter      : #e0e0e0;
$color-grey-light        : #f4f4f4;
$color-grey              : #999;
$color-grey-dark         : #5555f3;
$color-grey-darker       : #666;

// RED
$color-red               : #e80033;
$color-red-dark          : #d0002e;
$color-red-darker        : #bf0d3e;
$color-red-darkest	     : #ac0c38;

// BLUE
$color-blue		         : #337ab7;
$color-blue-dark	     : #3f8aff;
$color-blue-darker	     : #286090;
$color-blue-darkest		 : #3b5998;

// YELLOW
$color-yellow-lightest   : #fff8ea;
$color-yellow-lighter	 : #FEFFAE;
$color-yellow-light		 : #F7F14C;
$color-yellow		     : #fff601;
$color-yellow-dark	     : #EFDC01;
$color-yellow-darkest	 : #716F42;

// ORANGE
$color-orange-lightest	: #ffa500;
$color-orange-light		: #ed8b00;
$color-orange			: #FF6600;
$color-orange-dark		: #d57d00;
$color-orange-darker	: #f15d22;
$color-orange-darkest	: #d8541f;
 
// PURPLE 
$color-purple			: #551A8B;
$color-purple-darker	: #910048;

// MAGENTA
$color-magenta-light	: #ca296c;
$color-magenta			: #d0006f;
$color-magenta-darker	: #bb0064;  


$color-primary: #E80033;	// Main Primary color */
$color-primary-alt: #b9111a;
$color-secondary: #218bb5;	// Main Secondary color (1) */
$color-tertiary: #EA824B;
// As RGBa codes */

$rgba-primary: rgba(232,  0, 50,1);	// Main Primary color */
$rgba-primary-1: rgba(240, 92,124,1);
$rgba-primary-2: rgba(237, 52, 91,1);
$rgba-primary-3: rgba(181,  0, 39,1);
$rgba-primary-4: rgba(142,  0, 31,1);

//Settings
$color-text				: $color-black !default;
$color-border			: $color-grey-lightest !default;