<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
		<meta name="keywords" content="Dow, React, Template" />
		<meta name="description" content="Dow branded React template" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<meta name="author" content="Michael Rhyndress" />
		
		<title>React Template</title>

		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	</head>
	
	<body>
		<div id="root"></div>
	</body>
</html>